.input,
.select,
.textarea {
  width: 100%;
  background-color: #f6f6f6;
  font-size: 0.9rem;
  font-family: "gotham-pro";
  margin-top: 8px;
  padding: 1rem;
  height: 20px;
  border-radius: 5px;
  word-break: break-all;
  resize: none;
}

.error {
  padding-top: 5px;
  color: red;
}

.input:valid~label,
.input:focus~label,
.textarea:focus~label,
.textarea:valid~label {
  margin-top: -25px;
  font-size: 0.9rem;
}

.textarea {
  height: auto;
}

.select {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: auto;
}