.input,
.select {
  width: 100%;
  background-color: lightgray;
  margin-top: 8px;
  height: 20px;
  font-size: 0.9rem;
  font-size: "gotham-pro";
  padding: 0.4rem;
}

.error {
  padding-top: 5px;
  color: red;
}

.input:focus+label {
  margin-top: -25px;
  font-size: 0.9rem;
}