.document {
  width: 60%;
  background: #ffffff;
  font-family: "vinnytsia";
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 6px 16px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 16px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 16px 3px rgba(0, 0, 0, 0.75);
}

.title {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title_block {
  display: flex;
  justify-content: space-between;
}

.form_field {
  font-size: 1.5rem;
  padding-bottom: 1.2rem;
  text-overflow: clip;
  display: flex;
}

.profile_image {
  background: url("../../assets/images/profile-image.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  background-size: 100% 100%;
  margin-bottom: 3rem;
}