.form {
  width: 30%;
  background-color: #F4F1BB;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "gotham-pro";
}

.title {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.input_title {
  padding-top: 1.2rem;
  font-size: 0.9rem;
}

.input {
  background-color: #ffffff;
  width: 100%;
  height: 20px;
  font-size: 1.2rem;
  font-size: "gotham-pro";
  padding-top: 0.7rem;
}