.form {
  width: 30%;
  background-color: #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "gotham-pro";
  -webkit-box-shadow: 0px 6px 16px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 16px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 16px 3px rgba(0, 0, 0, 0.75);
}

.title {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.description {
  padding-bottom: 0.5rem;
}

.input_label {
  position: absolute;
  top: 32px;
  left: 20px;
  transition: margin 0.2s
}

.form_fields {
  padding-bottom: 1rem;
}

.required {
  padding-bottom: 2rem;
}

.form_field {
  margin-top: 7px;
  padding: 1rem;
  border: 2px grey solid;
  border-radius: 7px;
  white-space: initial;
  position: relative;
}