.textarea {
  width: 100%;
  background-color: #f6f6f6;
  font-size: 0.9rem;
  font-family: "gotham-pro";
  margin-top: 8px;
  padding: 1rem;
  height: auto;
  border-radius: 5px;
  word-break: break-all;
  resize: none;
}

.textarea:focus~label,
.textarea:valid~label {
  margin-top: -25px;
  font-size: 0.9rem;
}

.error {
  padding-top: 5px;
  color: red;
}
